mods/
scripts/recipes.zs
*buildOut/*
*client.zip
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/InvTweaks.cfg
config/jei/jei.cfg
config/jei/worldSettings.cfg
config/jei/bookmarks.ini
config/splash.properties
usercache.json
usernamecache.json
saves/
options.txt
logs/
logcal/
journeymap/
crafttweaker.log
.ReAuth.cfg
.mixin.out/
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
natives/
local/
config/jei/bookmark.ini
config/jei/worldSettings.cfg
config/AppliedEnergistics2/items.csv
build/modlist.*
config/BiomeTweaker/output/*
*worldgen.csv